* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

@-webkit-keyframes bounce {
	0%, 20%, 40%, 80%, 100% {-webkit-transform: translateY(0);}
	30% {-webkit-transform: translateY(-10px);}
	50% {-webkit-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 40%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
	30% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	50% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}
}

.header {
	background-image: -webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.3))), url("https://source.unsplash.com/random/1024x720");
	background-image: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://source.unsplash.com/random/1024x720");
	background-size: cover;
	background-position: center, center;
	background-repeat: no-repeat;

	background-attachment: fixed;
	color: white;
	height: 100vh;
}

.latest-bar {
	display: block;

	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-color: black;

	padding: 9px 0;
	margin-right: 10px;
	width: 100%;
}

.latest-bar .title {
	display: inline-block;
}

.latest-bar .mobile-title {
	display: none;
}

.latest-bar a {
	background-color: white;
	color: black;
	font-size: 13px;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 500;

	padding: 4px 15px;
	margin-left: 10px;

	-webkit-transition: font-size 0.3s ease;

	transition: font-size 0.3s ease;
}

.latest-bar a:hover {
	font-size: 14px;
	-webkit-transition: font-size 0.3s ease;
	transition: font-size 0.3s ease;
}

.navigation-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 100px;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

.navigation a img {
	height: 50px;
	width: 57.03px;
	margin-top: 7px;
}

.navigation .site-name {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: 700;
	margin-top: 20px;
	font-size: 18px;
	margin-left: 10px;
}

.navigation .mobile-menu {
	color: white;
	position: absolute;
	right: 30px;
	top: 65px;;
	z-index: 10;
	display: none;
	cursor: pointer;
	user-select: none;
}

.navigation .menu .button a {
	color: black;
}

.navigation .menu .button {
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	border-color: white;
	background-color: white;
	color: black;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -10px;
	user-select: none;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.navigation .menu .button:hover {
	-webkit-box-shadow: 0px 7px 40px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 7px 40px -5px rgba(0, 0, 0, 0.5);
	font-size: 15px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.menu-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	right: 80px;
	margin-top: 8px;
	margin-bottom: 0px;

	user-select: none;
}

.menu li {
	margin:0px;
	list-style:none;
}

.menu a {
	color: white;
	padding-bottom: 10px;
	-webkit-transition: color ease 0.15s;
	transition: color ease 0.15s;
}

.menu a:hover {
	color: #f0f0f0;
	-webkit-transition: color ease 0.15s;
	transition: color ease 0.15s;
}

.menu .material-icons {
	font-size:20px;
	line-height:0%;
	position: relative;
	top: 5px;

}

/*----- Top Level -----*/
.menu ul li {
	display:inline-block;
	position:relative;
	margin-left: 12px;
	margin-right: 12px;

}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
	z-index:1;
	opacity:1;
	visibility: visible;

	-webkit-transition: all ease 0.5s;

	transition: all ease 0.5s;
}

.sub-menu {
	padding: 0px 0px;
	margin-top: 10px;
	position: absolute;
	top: 100%;
	left: -15px;
	z-index: -1;
	background: rgb(255, 255, 255);
	opacity: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 2px 40px -10px rgb(0, 0, 0);
	box-shadow: 0px 2px 40px -10px rgb(0, 0, 0);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	visibility: hidden;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.menu .sub-menu li {
	display:block;
	font-size:13px;
	padding: 10px 20px;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-transition:all ease 0.25s;
	transition:all ease 0.25s;
}

.menu .sub-menu li:hover {
	background: #fdfdfd;
	-webkit-box-shadow: 0 0 20px -5px #424242;
	box-shadow: 0 0 20px -5px #424242;
	font-size: 14px;
	-webkit-transition:all ease 0.25s;
	transition:all ease 0.25s;
}

.sub-menu li a {
	display:block;
	color: black;
	padding-bottom: 0px;
	cursor: default;
}
.sub-menu li a:hover {
	color: black;
	cursor: pointer;
}

.header .headline {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 5vw;
	text-transform: uppercase;
	text-align: center;
	padding-top: 40vh;
}

.header .sub-headline {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2vw;
	text-align: center;

	margin-top: 8px;
}

.header .get-started-button {
	display: block;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;

	border-style: solid;
	border-width: 1px;
	border-radius: 30vw;
	border-color: white;
	background-color: white;
	color: black;

	padding: 10px 30px;
	display: table;
	margin: 0 auto;
	margin-top: 10vh;
	cursor: pointer;
	user-select: none;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.header .get-started-button:hover {
	-webkit-box-shadow: 0px 7px 40px -5px black;
	box-shadow: 0px 7px 40px -5px black;
	font-size: 22px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}


.divider {
	width: 100%;
	height: 1vh;
	background-color: black;
	position: relative;
	top: 0;
}

.posts {
	padding-bottom: 11vh;
}

.posts .headline {
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	text-align: center;

	padding-top: 5vh;
	padding-bottom: 6vh;
}

.posts-container {
	margin: 0 auto;
}


.post {
	padding-top: 0px;
	padding-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #fbfbfb;
	display: block;
	overflow: hidden;
	border-radius: 5px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.post:hover {
	-webkit-box-shadow: 0px 7px 150px -20px #636363;
	box-shadow: 0px 7px 150px -20px #636363;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.upcoming {
	position: relative;
	pointer-events: none;
	user-select: none;
}

.upcoming::after {
	content: 'Coming Soon';
	text-align: center;
	line-height: 10rem;
	font-weight: 400;
	font-size: 20px;

	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
}

.post .title {
	margin-left: 30px;
	margin-right: 21%;
	font-weight: 600;
	text-transform: uppercase;
}

.post .description {
	margin-left: 30px;
	margin-top: 10px;
	font-size: 13px;
}

.post .details {
	font-size: 12px;
	margin-left: 30px;
	margin-top: 30px;
	color: #b1b1b1;
}

.post img {
	width: 100%;
	padding-bottom: 10px;

}

.post .button {
	display:block;
	width:50px;
	height:50px;
	background-color: white;
	-webkit-box-shadow: 0 0 25px -5px black;
	box-shadow: 0 0 25px -5px black;
	border-radius: 50%;
	color:#000000;
	text-align:center;
	float: right;
	position: relative;
	right: 20px;
	top: -40px;

	user-select: none;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}


.post .material-icons {
	font-size:25px;
	margin-top: 11px;
}

.post .button:hover {
	-webkit-box-shadow: 0 0 40px -3px black;
	box-shadow: 0 0 40px -3px black;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.to-top-container {
	background-color: white;
	position: fixed;
	right: 0;
	bottom: 15vh;
	opacity: 0;
	cursor: pointer;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0 0 30px -5px #5f5f5f;
	box-shadow: 0 0 30px -5px #5f5f5f;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	z-index: 1;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

.material-icons.to-top-icon {
	font-size: 5vh;
	color: black;
}

.to-top-container:hover {
	-webkit-animation-name: bounce;
	animation-name: bounce;

	-webkit-animation: 2s ease 0s normal none infinite bounce;

	animation: 2s ease 0s normal none infinite bounce;
}


.footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1vw;
	text-align: center;
	padding-bottom: 3vh;
	padding-top: 3vh;
	color: #8e8e8e;
	background-color: #fbfbfb;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer .site-info {
	margin: 0 auto;
}

.footer .credits {
	font-size: 1vw;
	position: absolute;
	right: 85px;
}

.footer .social {
	position: absolute;
	left: 85px;
}

.footer .social .icon {
	padding: 0px 0.3vw;
}


@media only screen and (max-width: 650px) {

	.latest-bar .title {
		display: none;
	}

	.latest-bar .mobile-title {
		display: inline-block;
	}

	.navigation {
		padding: 10px 50px !important;
		display: block;
	}

	.navigation .site-logo {
		position: relative;
		left: -7px;
	}

	.navigation .site-logo img {
		margin: 0 auto;
		margin-top: 7px;
		margin-right: 0;
	}

	.navigation .site-logo .site-name {
		margin: 0 auto;
		margin-top: 20px;
		margin-left: 10px;
	}

	.navigation .mobile-menu {
		display: block;
	}

	.navigation .menu-wrap {
		display: block;
		visibility: hidden;
		opacity: 0;
		right: 0px;
		left: 0px;
		margin-top: 0px;
		background: black;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}

	.navigation ul {
		margin-top: 25px;
		margin-bottom: 20px;
		padding: 0;
		text-align: center;
	}

	.container {
		width: 55%;
	}

	.header .headline {
		font-size: 15vw;
		padding-top: 30vh;
	}

	.posts .headline {
		font-size: 25px;
	}

	.header .sub-headline {
		font-size: 5vw;
	}

	.footer {
		font-size: 15px;
		display: block;
	}

	.footer .social {
		position: static;
		float: none;
		font-size: 12px;
		display: block;
		padding-bottom: 15px;
	}

	.footer .social a {
		padding: 10px;
	}

	.footer .credits {
		position: static;
		float: none;
		font-size: 10px;
		display: block;
		padding-top: 15px;
	}
}

@media only screen and (min-width: 790px) {

	.header .headline {
		font-size: 9vw;
		padding-top: 30vh;
	}

	.header .sub-headline {
		font-size: 3vw;
	}

	.navigation .menu-wrap {
		visibility: visible;
		opacity: 1;
	}
}

@media only screen and (min-width: 910px) {

	.header .headline {
		font-size: 5vw;
		padding-top: 35vh;
	}

	.header .sub-headline {
		font-size: 2vw;
	}
}

@media only screen and (min-width: 1700px) {

	.header .get-started-button {
		font-size: 30px;
		padding: 10px 40px;
	}
	.header .get-started-button:hover {
		font-size: 32px;
	}
}

@media only screen and (min-width: 1980px) {

	.header .get-started-button {
		font-size: 40px;
		padding: 15px 50px;
	}

	.header .get-started-button:hover {
		font-size: 45px;
	}

	.post {
		border-radius: 10px;
	}

	.post img {
		height: 350px;
	}

	.post .title {
		margin-top: 15px;
		font-size: 30px;
	}

	.post .description {
		margin-top: 15px;
		font-size: 22px;
	}

	.post .details {
		font-size: 20px;
		margin-top: 50px;
	}

	.post .button {
		margin-top: -15px;
		margin-right: 10px;
		width: 90px;
		height: 90px;
	}

	.post .material-icons {
		margin-top: 20px;
		font-size: 2vw;
	}

}

.crisp-client {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
