<label class="social">
	<a href="http://www.facebook.com/blenderskool" target="_blank"><i class="fa fa-facebook icon" aria-hidden="true"></i></a>
	<a href="http://www.twitter.com/blenderskool" target="_blank"><i class="fa fa-twitter icon" aria-hidden="true"></i></a>
	<a href="http://plus.google.com/+AkashHamirwasia1" target="_blank"><i class="fa fa-google-plus icon" aria-hidden="true"></i></a>
	<a href="http://www.youtube.com/c/AkashHamirwasia1" target="_blank"><i class="fa fa-youtube-play icon" aria-hidden="true"></i></a>
	<a href="http://www.github.com/blenderskool" target="_blank"><i class="fa fa-github icon" aria-hidden="true"></i></a>
</label>

<label class="site-info">
	© 2017 | <a href="http://www.blenderskool.cf">Blender Skool</a>
</label>
<label class="credits">
	Designed by <a href="http://www.blenderskool.cf">Akash Hamirwasia</a>
</label>

<script type="text/javascript">(function(){window.BeaconID="6nQ9VvEYFRDGpOdJ2RAj";d=document;s=d.createElement("script");s.src="https://beacon-tool.firebaseapp.com/b.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);b=d.createElement("beacon-app");d.body.appendChild(b);})();</script>