<div class="latest-bar">
	<span class="title">Enrich add-on has released for Blender!</span>
	<span class="mobile-title">Enrich has released!</span>
	<a href="http://www.blskl.cf/enrich" class="button" target="_blank">Learn More</a>
</div>
<div class="navigation">
	<a href="http://docs.blenderskool.cf/" class="site-logo" style="display: flex;">
		<img src="https://dl.dropboxusercontent.com/s/a15z0992007y7sv/blender_skool_logo.png">
		<div class="site-name">Documentation</div>
	</a>

	<div class="mobile-menu" onclick="open_mobile_menu()"><i class="material-icons" id="mobileMenuIcon">menu</i></div>

	<div class="menu-wrap">
		<nav class="menu">
			<ul>
				<li>
					<a href="#" onclick="return false;">Add-ons <i class="material-icons">keyboard_arrow_down</i></a>
					<ul class="sub-menu">
						<div class="divider"></div>
						<li><a href="/pages/enrich.html">Enrich</a></li>
						<li><a href="/pages/kaleidoscope.html">Kaleidoscope</a></li>
						<li class="upcoming"><a href="#">Photo Editing Nodes</a></li>
					</ul>
				</li>
				<li class="button"><a href="http://www.blenderskool.cf" target="_blank">Go to the Main Site</a></li>
			</ul>
		</nav>
	</div>
</div>
